body{
  background-color: black
}
p {
    max-width: 1500px;
    margin: 25px EB;
    font-size: 17px;
    line-height: 1.3;
  color: white;
  text-align: center;
}

h1{
  text-align: center;
  color: white;
}

.links {
    float: right;
    color: white;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: EB;
    font-size: 20px
}

.links:hover {
    background-color: darkgoldenrod;
}

.line {
    height: 6px;
    background-color: white;
    width: 70px;
    margin: 8px auto;
}